.mt40 {
    @include vw-convert-pc(margin-top, 40);
}
.mt160 {
    @include vw-convert-pc(margin-top, 160);
}

[class *='flex'] {
    display: flex;
}

.flex {
    &-center {
        align-items: center;
    }

    &-between {
        justify-content: space-between;
    }

    &-around {
        justify-content: space-around;
    }
}

.wrap {
    position:relative;
}
.main-indicator-wrap {
    position:fixed;
    right: 80px;
    top:50%;
    transform:translateY(-50%);
    z-index:1;
    ul {
        li {
            @include vw-convert-pc(margin, 24 0);
            position:relative;
            
            &::before {
                content:'';
                background:#000;
                display:block;
                position:absolute;
                right:0;
                top:6px;
                width:30px;
                height:2px;
                transition:all .5s;
            }
            a {
                position:relative;
                display:block;
                @include vw-font-size-pc(18);
                color:#000;
                @include vw-convert-pc(padding-right, 55);
                text-align:right;
                opacity:0;
                right:-20%;
                transition:all .5s;
            }
            &.active, &:hover {
                &::before {
                    content: '';
                    background:transparent;
                    width:12px;
                    height:12px;
                    border:2px solid #000;
                    border-radius:50%;
                    top:3px;
                }
                a {
                    opacity:1;
                    right: 0;
                }
            }
        }
    }
    &.white {
        ul {
            li {
                &::before {
                    content:'';
                    background:#fff;
                }
                a {
                    color:#fff;
                }
                &.active, &:hover {
                    &::before {
                        content: '';
                        border:2px solid #fff;
                        background:transparent
                    }
                }
            }
        }
    }
}


// 프로젝트 공통
.pjt-con-wrap {
    box-sizing: border-box;
    .pjt-top {
        display: flex;
        height: 100vh;
        @include vw-convert-pc(padding-top, 254);
        @include vw-convert-pc(padding-left, 160);
        
    }
    .pjt-top-full {
        display:block;
        height:auto;
        @include vw-convert-pc(padding-top, 250);
        .pjt-top-img {
            @include vw-convert-pc(width, 1263);
            @include vw-convert-pc(padding-top, 100);
            text-align:center;
            margin: 0 auto;
        }
    }
    .pjt-title {
        &.center {
            text-align: center;
        }

        &.white {
            color: #fff;
        }

        &.type02 {
            @include vw-convert-pc(width, 1276);
            margin:0 auto;
            @include vw-convert-pc(margin-top, 160);
        }

        .tit {
            @include vw-font-size-pc(100);
            @include vw-convert-pc(padding-bottom, 40);
            font-weight: bold;

            span {
                font-weight: 100;
            }
        }

        .desc {
            @include vw-font-size-pc(24);
            line-height: 1.3;
            word-break: keep-all;
            font-weight:300;
        }
    }
    .phone-layout {
        display: flex;
        justify-content: center;
        gap: 50px;
        @include vw-convert-pc(padding-top, 110);
        @include vw-convert-pc(width, 1276);
        margin: 0 auto;
        &.type02 {
            @include vw-convert-pc(width, 864);
            gap:80px;
        }
        div {
            text-align:center;
        }
    }
    .icon-list-wrap {
        ul {
            display:flex;
            align-items:center;
            justify-content: center;
            gap:60px;
            li {
                text-align:center;
                .txt {
                    @include vw-convert-pc(padding-top, 20);
                    @include vw-font-size-pc(20);
                }
            }
        }
    }
    .tool-list {
        display:flex;
        gap:14px;
        @include vw-convert-pc(margin-top, 80);
    }
    &.kb {
        .pjt-top {
            .pjt-title {
                @include vw-convert-pc(width, 600);
            }

            .pjt-top-img {
                position: relative;
                @include vw-convert-pc(width, 800);
                @include vw-convert-pc(margin-top, 40);
                text-align: center;

                .pjt-img {
                    @include vw-convert-pc(width, 362);
                }

                .circle {
                    position: absolute;
                    display: block;
                    border-radius: 50%;

                    &.type01 {
                        background: rgba(255, 223, 98, 0.2);
                        right: 0;
                        bottom: -40px;
                        @include vw-convert-pc(width, 575);
                        @include vw-convert-pc(height, 575);
                    }

                    &.type02 {
                        background: linear-gradient(180deg, rgba(255, 240, 181, 0.7) 90.04%, rgba(255, 206, 14, 0.7) 190.04%);
                        right: 0;
                        @include vw-convert-pc(top, 37);
                        @include vw-convert-pc(width, 222);
                        @include vw-convert-pc(height, 222);
                    }

                    &.type03 {
                        background: linear-gradient(180deg, rgba(255, 240, 181, 0.6) 0%, rgba(255, 206, 14, 0.6) 100%);
                        @include vw-convert-pc(left, 150);
                        @include vw-convert-pc(bottom, 100);
                        @include vw-convert-pc(width, 143);
                        @include vw-convert-pc(height, 143);
                        opacity: 0.5;
                    }

                }
            }
        }
        .pjt-con {
            @include vw-convert-pc(padding, 160 20 300);
            background: #ffdf62;
        }
    }
    &.sc {
        .pjt-top-full {
            background:url('../images/bg_sc.jpg') center no-repeat;
            background-size:cover;
            height:auto;
            text-align:center;
        }
        .pjt-con {
            background:#000;
            @include vw-convert-pc(padding, 290 0 250);
            @include vw-convert-pc(margin-top, -130);
        }
    }
    &.cj {
        .pjt-top {
            .pjt-top-img {
                position: relative;
                @include vw-convert-pc(width, 900);

                .pjt-img01 {
                    position: absolute;
                    @include vw-convert-pc(left, -80);
                    @include vw-convert-pc(bottom, -200);
                    @include vw-convert-pc(width, 728);
                }

                .pjt-img02 {
                    position: absolute;
                    @include vw-convert-pc(right, 0);
                    @include vw-convert-pc(bottom, -100);
                    @include vw-convert-pc(width, 728);
                }
            }
        }

        .pjt-con {
            @include vw-convert-pc(padding, 160 20 300);
            background: url(../images/bg_cj.jpg) center no-repeat;
            background-size:cover;

            .icon {
                @include vw-convert-pc(padding-top, 100);
                text-align: center;
            }
        }
    }
    &.woori-open {
        .pjt-top-full {
            background:url('../images/bg_wooriopen.jpg') center no-repeat;
            background-size:cover;
        }
        .pjt-con {
            background:#000;
            @include vw-convert-pc(padding-top, 290);
            @include vw-convert-pc(padding-bottom, 250);
            @include vw-convert-pc(margin-top, -130);
            .phone-layout{
                &.bg {
                    background:url('../images/img_wooriopen01_bg.png') center no-repeat;
                    background-size:100%;
                    @include vw-convert-pc(max-width, 1155);
                    margin:0 auto;
                    @include vw-convert-pc(margin-top, 90);
                }
            }
        }
    }
    &.woori-my {
        .pjt-top {
            .pjt-top-img {
                position:absolute;
                @include vw-convert-pc(right, 230);
                @include vw-convert-pc(width, 1183);
            }
        }
        .pjt-con {
            &.bg01 {
                background: #0F98C6;
                @include vw-convert-pc(padding-top, 200);
                @include vw-convert-pc(margin-top, 60);
            }
            &.bg02 {
                background:#fff;
                @include vw-convert-pc(padding, 332 0 160);
                @include vw-convert-pc(margin-top, -230);
            }
            &.bg03 {
                background: #0E2A78;
                @include vw-convert-pc(padding, 160 0 250);
            }
        }
    }
    &.woori-certi {
        .pjt-top-full {
            background:url('../images/bg_wooricerti.jpg') center no-repeat;
            background-size:cover;
            @include vw-convert-pc(padding-top, 254);
            @include vw-convert-pc(padding-bottom, 1027);
        }
        .pjt-con {
            @include vw-convert-pc(padding-top, 290);
            @include vw-convert-pc(padding-bottom, 250);
            @include vw-convert-pc(margin-top, -130);
        }
    }
}

@media screen and (max-width:1440px) {
    .pjt-con-wrap {
        .pjt-top {
            @include vw-convert-tb(padding-top, 180);
            @include vw-convert-tb(padding-left, 100);
            @include vw-convert-tb(padding-bottom, 200);
            height:auto
        }
        .pjt-title {
            .tit {
                @include vw-font-size-tb(70);
                @include vw-convert-tb(padding-bottom, 20);
            }
            .desc {
                @include vw-font-size-tb(30);
            }
        }
        .tool-list {
            @include vw-convert-tb(margin-top, 50);
        }
        .phone-layout {
            @include vw-convert-tb(padding-top, 80);
            &.type02 {
                @include vw-convert-tb(width, 864);
            }
        }
        &.kb {
            .pjt-top {
                .pjt-title {
                    @include vw-convert-tb(width, 800);
                }
                .pjt-top-img {
                    .pjt-img {
                        @include vw-convert-tb(width, 400);
                    }
                    .circle {
                        &.type03 {
                            @include vw-convert-tb(left, -50);
                        }
                    }
                }
            }
        }
        &.cj {
            .pjt-top {
                @include vw-convert-tb(padding-bottom, 400);
                .pjt-top-img {
                    .pjt-img01 {
                        bottom: auto;
                        @include vw-convert-tb(top, 250);
                    }
                    .pjt-img02 {
                        bottom: auto;
                        top: 0;
                    }
                }
            }
        }
    }
}


//mobile
@media screen and (max-width:767px) {
    .pjt-con-wrap {
        .pjt-top {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            @include vw-convert-mo(padding, 252 40 0);
        }
        .pjt-top-full {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            @include vw-convert-mo(padding, 252 40 0);
            .pjt-top-img {
                width:100%;
                position:relative;
                @include vw-convert-mo(padding-top, 80);
                z-index:2;
            }
        }
        .pjt-title {
            width: 100%;

            &.center {
                text-align: left;
            }
            &.type02 {
                width:100%;
                @include vw-convert-mo(margin-top, 100);
            }

            .tit {
                @include vw-convert-mo(padding-bottom, 24);
                @include vw-font-size-mo(64);
            }

            .desc {
                @include vw-font-size-mo(32);
                font-weight:300;
            }
        }
        .phone-layout {
            width: 100%;
            @include vw-convert-mo(padding-top, 80);
            gap:25px;
            div:nth-child(2) {
                @include vw-convert-mo(margin-top, 80);
            }
            &.type02 {
                width:100%;
                gap:25px;
            }
        }

        .icon-list-wrap {
            ul {
                flex-wrap:wrap;
                gap:24px;
                li {
                    width:18%;
                    .txt {
                        @include vw-convert-mo(padding-top, 16);
                        @include vw-font-size-mo(24);
                    }
                }
            }
        }

        .tool-list {
            display:flex;
            gap:4px;
            @include vw-convert-mo(margin-top, 52);
            div {
                @include vw-convert-mo(width, 52);
            }
        }

        &.kb {
            .pjt-top {
                .pjt-title {
                    width: 100%;
                }
                .pjt-top-img {
                    width: 100%;
                    .pjt-img {
                        @include vw-convert-mo(width, 284);
                    }
    
                    .circle {
                        &.type01 {
                            right: 0;
                            @include vw-convert-mo(bottom, -80);
                            @include vw-convert-mo(width, 500);
                            @include vw-convert-mo(height, 500);
                        }
    
                        &.type02 {
                            right: 0;
                            @include vw-convert-mo(top, 74);
                            @include vw-convert-mo(width, 200);
                            @include vw-convert-mo(height, 200);
                        }
    
                        &.type03 {
                            @include vw-convert-mo(left, 32);
                            @include vw-convert-mo(bottom, 100);
                            @include vw-convert-mo(width, 130);
                            @include vw-convert-mo(height, 130);
                        }
                    }
                }
            }
            .pjt-con {
                @include vw-convert-mo(padding, 260 40 80);
                margin-top: -104px;
            }
        }
        &.sc {
            .pjt-con {
                position:relative;
                @include vw-convert-mo(padding, 120 40 100);
                @include vw-convert-mo(margin-top, -40);
            }
        }
        &.woori-open {
            .pjt-con {
                position:relative;
                @include vw-convert-mo(padding, 120 40 100);
                @include vw-convert-mo(margin-top, -40);
                .phone-layout {
                    &.bg {
                        max-width:100%;
                        @include vw-convert-mo(margin-top, 80);
                    }
                }
            }
        }
        &.woori-my {
            .pjt-top {
                .pjt-title {
                    width:100%;
                }
                .pjt-top-img {
                    position:relative;
                    right:auto;
                    width:100%;
                    @include vw-convert-mo(margin-top, 100);
                }
            }
            .pjt-con {
                &.bg01 {
                    @include vw-convert-mo(padding, 160 40 0);
                    @include vw-convert-mo(margin-top, -40);
                    .phone-layout {
                        div:nth-child(2) {
                            margin-top:0;
                        }
                    }
                }
                &.bg02 {
                    @include vw-convert-mo(padding, 200 40 100);
                    @include vw-convert-mo(margin-top, -100);
                }
                &.bg03 {
                    @include vw-convert-mo(padding, 100 40);
                }
            }
        }
        &.woori-certi {
            .pjt-top-full {
                // height:100vh;
                @include vw-convert-mo(padding-top, 252);
                @include vw-convert-mo(padding-bottom, 748);
            }
            .pjt-con {
                @include vw-convert-mo(padding, 100 40);
                margin-top:0;
            }
        }
        &.cj {
            .pjt-top {
                padding-bottom:0;
                .pjt-title {
                    width:100%;
                }
                .pjt-top-img {
                    width:100%;
                    @include vw-convert-mo(height, 648);
                    @include vw-convert-mo(margin-top, 80);
                    .pjt-img01 {
                        // position:static;
                        left:0;
                        bottom:-50px;
                        width:80%;
                    }
                    .pjt-img02 {
                        // position:static;
                        top:auto;
                        right:0;
                        width:70%;
                    }
                }
            }
            .pjt-con {
                @include vw-convert-mo(padding, 180 40 108);
                @include vw-convert-mo(margin-top, -100);
                .icon {
                    @include vw-convert-mo(padding-top, 80);
                    @include vw-convert-mo(margin, 0 40);
                }
            }
        }
        
    }
}