.mt160 {
    @include vw-convert-pc(margin-top, 160);
}

[class *='flex'] {
    display: flex;
}

.flex {
    &-center {
        align-items: center;
    }

    &-between {
        justify-content: space-between;
    }

    &-around {
        justify-content: space-around;
    }
}

.wrap {
    position: relative;
    overflow-x:hidden;
}

.btn-top {
	display: none;
	position: fixed;
	bottom: 40px;
	right: 20px;
	z-index:100;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 12px;
	border-radius: 50%;
	background-color: #ddd;
    &:hover {
        background-color: #d0d0d0;
    }
}

.main-indicator-wrap {
    position: fixed;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    ul {
        li {
            @include vw-convert-pc(margin, 24 0);
            position: relative;

            &::before {
                content: '';
                background: #000;
                display: block;
                position: absolute;
                right: 0;
                top: 6px;
                width: 30px;
                height: 2px;
                transition: all .5s;
            }

            a {
                position: relative;
                display: block;
                @include vw-font-size-pc(18);
                color: #000;
                @include vw-convert-pc(padding-right, 55);
                text-align: right;
                opacity: 0;
                right: -20%;
                transition: all .5s;
            }

            &.active,
            &:hover {
                &::before {
                    content: '';
                    background: transparent;
                    width: 12px;
                    height: 12px;
                    border: 2px solid #000;
                    border-radius: 50%;
                    top: 3px;
                }

                a {
                    opacity: 1;
                    right: 0;
                }
            }
        }
    }

    &.white {
        ul {
            li {
                &::before {
                    content: '';
                    background: #fff;
                }

                a {
                    color: #fff;
                }

                &.active,
                &:hover {
                    &::before {
                        content: '';
                        border: 2px solid #fff;
                        background: transparent
                    }
                }
            }
        }
    }
}

// project contents
.pjt-con-wrap {
    box-sizing: border-box;

    .pjt-top {
        display: flex;
        height: 100vh;
        @include vw-convert-pc(padding-top, 254);
        @include vw-convert-pc(padding-left, 160);

    }

    .pjt-top-full {
        display: block;
        height: auto;
        @include vw-convert-pc(padding-top, 250);

        .pjt-top-img {
            @include vw-convert-pc(width, 1263);
            @include vw-convert-pc(padding-top, 100);
            text-align: center;
            margin: 0 auto;
        }
    }

    .pjt-title {
        &.center {
            text-align: center;
        }

        &.white {
            color: #fff;
        }

        &.type02 {
            @include vw-convert-pc(width, 1276);
            margin: 0 auto;
            @include vw-convert-pc(margin-top, 160);
        }

        .tit {
            @include vw-font-size-pc(100);
            @include vw-convert-pc(padding-bottom, 40);
            font-weight: bold;

            span {
                font-weight: 100;
            }
        }

        .desc {
            @include vw-font-size-pc(24);
            line-height: 1.3;
            word-break: keep-all;
            font-weight: 300;
        }
    }

    .phone-layout {
        display: flex;
        justify-content: center;
        gap: 50px;
        @include vw-convert-pc(padding-top, 110);
        @include vw-convert-pc(width, 1276);
        margin: 0 auto;

        &.type02 {
            @include vw-convert-pc(width, 864);
            gap: 80px;
        }

        div {
            text-align: center;
        }
    }

    .icon-list-wrap {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 60px;

            li {
                text-align: center;

                .txt {
                    @include vw-convert-pc(padding-top, 20);
                    @include vw-font-size-pc(20);
                }
            }
        }
    }

    .tool-list {
        display: flex;
        gap: 14px;
        @include vw-convert-pc(margin-top, 80);
    }

    &.kb {
        .pjt-top {
            .pjt-title {
                @include vw-convert-pc(width, 600);
            }

            .pjt-top-img {
                position: relative;
                @include vw-convert-pc(width, 800);
                @include vw-convert-pc(margin-top, 40);
                text-align: center;

                .pjt-img {
                    @include vw-convert-pc(width, 362);
                    border: 10px solid #000;
                    border-radius: 50px;
                }

                .circle {
                    position: absolute;
                    display: block;
                    border-radius: 50%;

                    &.type01 {
                        background: rgba(255, 223, 98, 0.2);
                        right: 0;
                        bottom: -40px;
                        @include vw-convert-pc(width, 575);
                        @include vw-convert-pc(height, 575);
                    }

                    &.type02 {
                        background: linear-gradient(180deg, rgba(255, 240, 181, 0.7) 90.04%, rgba(255, 206, 14, 0.7) 190.04%);
                        right: 0;
                        @include vw-convert-pc(top, 37);
                        @include vw-convert-pc(width, 222);
                        @include vw-convert-pc(height, 222);
                    }

                    &.type03 {
                        background: linear-gradient(180deg, rgba(255, 240, 181, 0.6) 0%, rgba(255, 206, 14, 0.6) 100%);
                        @include vw-convert-pc(left, 150);
                        @include vw-convert-pc(bottom, 100);
                        @include vw-convert-pc(width, 143);
                        @include vw-convert-pc(height, 143);
                        opacity: 0.5;
                    }

                }
            }
        }

        .pjt-con {
            @include vw-convert-pc(padding, 160 20 300);
            background: #ffdf62;
        }
    }

    &.sc {
        .pjt-top-full {
            background: url('../images/bg_sc.jpg') center no-repeat;
            background-size: cover;
            height: auto;
            text-align: center;
        }

        .pjt-con {
            background: #000;
            @include vw-convert-pc(padding, 290 0 250);
            @include vw-convert-pc(margin-top, -130);
        }
    }

    &.cj {
        .pjt-top {
            .pjt-top-img {
                position: relative;
                @include vw-convert-pc(width, 900);

                .pjt-img01 {
                    position: absolute;
                    @include vw-convert-pc(left, -80);
                    @include vw-convert-pc(bottom, -200);
                    @include vw-convert-pc(width, 728);
                }

                .pjt-img02 {
                    position: absolute;
                    @include vw-convert-pc(right, 0);
                    @include vw-convert-pc(bottom, -100);
                    @include vw-convert-pc(width, 728);
                }
            }
        }

        .pjt-con {
            @include vw-convert-pc(padding, 160 20 300);
            background: url(../images/bg_cj.jpg) center no-repeat;
            background-size: cover;

            .icon {
                @include vw-convert-pc(padding-top, 100);
                text-align: center;
            }
        }
    }

    &.woori-open {
        .pjt-top-full {
            background: url('../images/bg_wooriopen.jpg') center no-repeat;
            background-size: cover;
        }

        .pjt-con {
            background: #000;
            @include vw-convert-pc(padding-top, 290);
            @include vw-convert-pc(padding-bottom, 250);
            @include vw-convert-pc(margin-top, -130);

            .phone-layout {
                &.bg {
                    background: url('../images/img_wooriopen01_bg.png') center no-repeat;
                    background-size: 100%;
                    @include vw-convert-pc(max-width, 1155);
                    margin: 0 auto;
                    @include vw-convert-pc(margin-top, 90);
                }
            }
        }
    }

    &.woori-my {
        .pjt-top {
            .pjt-top-img {
                position: absolute;
                @include vw-convert-pc(right, 230);
                @include vw-convert-pc(width, 1183);

                .splash-img {
                    position: absolute;
                    @include vw-convert-pc(right, 163);
                    top: 3px;
                    @include vw-convert-pc(width, 390);

                }

                .pjt-img {
                    @include vw-convert-pc(width, 390);
                }
            }
        }

        .pjt-con {
            &.bg01 {
                background: #0F98C6;
                @include vw-convert-pc(padding-top, 200);
                @include vw-convert-pc(margin-top, 60);
            }

            &.bg02 {
                background: #fff;
                @include vw-convert-pc(padding, 332 0 160);
                @include vw-convert-pc(margin-top, -230);
            }

            &.bg03 {
                background: #0E2A78;
                @include vw-convert-pc(padding, 160 0 250);
            }
        }
    }

    &.woori-certi {
        .pjt-top-full {
            background: url('../images/bg_wooricerti.jpg') center no-repeat;
            background-size: cover;
            @include vw-convert-pc(padding-top, 254);
            @include vw-convert-pc(padding-bottom, 1027);
        }

        .pjt-con {
            @include vw-convert-pc(padding-top, 290);
            @include vw-convert-pc(padding-bottom, 250);
            @include vw-convert-pc(margin-top, -130);
        }
    }
}

//about
.about-wrap {
    .title-wrap {
        position: relative;
        z-index: 1;

        &.white {
            color: #fff;

            .desc {
                color: #929292;
            }
        }

        .tit01 {
            @include vw-convert-pc(padding-bottom, 100);
            @include vw-font-size-pc(60);
            font-weight: 600;
        }

        .tit02 {
            @include vw-convert-pc(padding-bottom, 40);
            @include vw-font-size-pc(32);
            font-weight: 700;
        }

        .desc {
            @include vw-font-size-pc(24);
            font-weight: 300;
            line-height: 1.3;
        }
    }

    .section {
        position: relative;

        &.nth01 {
            @include vw-convert-pc(padding, 358 0 308);
            @include vw-convert-pc(width, 1500);
            margin: 0 auto;

            .txt-ani {
                @include vw-convert-pc(top, 254);
            }
        }

        &.nth02 {
            background: #000;

            .inner {
                position: relative;
                @include vw-convert-pc(width, 1500);
                @include vw-convert-pc(padding, 306 0 198);
                margin: 0 auto;

                .txt-ani {
                    @include vw-convert-pc(top, 200);
                }

                .service-list-wrap {
                    position: relative;
                    display: flex;
                    justify-content: space-around;
                    @include vw-convert-pc(padding, 100 0);
                    @include vw-convert-pc(margin-top, 162);
                    color: #d9d9d9;
                    text-align: center;

                    .bg-area {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;

                        .circle01 {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 60%;
                        }

                        .circle02 {
                            position: absolute;
                            @include vw-convert-pc(right, 60);
                            top: 0;
                            width: 60%;
                        }
                    }

                    .tit01 {
                        @include vw-convert-pc(padding-bottom, 16);
                        @include vw-font-size-pc(36);
                        font-weight: 600;
                    }

                    .tit02 {
                        @include vw-convert-pc(padding-bottom, 40);
                        @include vw-font-size-pc(36);
                        font-weight: 400;
                    }

                    .desc {
                        @include vw-font-size-pc(24);
                        line-height: 1.5;
                        font-weight: 200;
                    }
                }
            }
        }

        &.nth03 {
            @include vw-convert-pc(padding, 300 0);
            @include vw-convert-pc(width, 1500);
            margin: 0 auto;

            .txt-ani {
                @include vw-convert-pc(top, 200);
            }
        }

        &.nth04 {
            @include vw-convert-pc(padding, 0 0 250);
            @include vw-convert-pc(width, 1500);
            margin: 0 auto;

            .txt-ani {
                @include vw-convert-pc(top, -104);
            }
        }

        .txt-ani {
            position: absolute;
            @include vw-convert-pc(left, -80);
            color: #f0f0f0;
            @include vw-font-size-pc(160);
            font-weight: 900;

            &.white {
                color: #1a1a1a;
            }
        }

        .work-list-wrap {
            ul {
                display: flex;
                justify-content: space-around;
                text-align: center;
                @include vw-convert-pc(margin-top, 100);

                .img {
                    @include vw-convert-pc(width, 100);
                    margin: 0 auto;
                }

                .tit {
                    @include vw-convert-pc(padding-top, 70);
                    @include vw-convert-pc(padding-bottom, 24);
                    @include vw-font-size-pc(36);
                    font-weight: 700;
                }

                .desc {
                    @include vw-font-size-pc(20);
                    font-weight: 200;
                }
            }
        }

        .clients-list-wrap {
            @include vw-convert-pc(margin-top, 160);
        }
    }

}

//프로젝트 메인
.project-wrap {
    @include vw-convert-pc(padding, 100 160 200 160);
    .tab-top {
        position:relative;
        .bg-tit {
            position:absolute;
            left:50%;
            top:50%;
            width:100%;
            transform:translate(-50%, -50%);
            @include vw-font-size-pc(100);
            font-weight:700;
            color:#dfdfdf;
            text-align:center;
            letter-spacing:-5%;
            opacity:.2;
            z-index:-1;
        }
        ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            @include vw-convert-pc(margin, 36 0 38 0);
            li {
                @include vw-convert-pc(margin-right, 120);
                @include vw-font-size-pc(30);
                font-weight: 700;
            }
            li:last-child {
                @include vw-convert-pc(margin-right, 0);
            }
            li.on {
                color: #E30D3F;
            }
        }
    }

    .tab-detail {
        display: none;
    }

    .tab-detail.on {
        display: block;
    }

    .project-swiper {
        @include vw-convert-pc(margin, 80 0 0);
        overflow:visible;
        .box-wrap {
            box-shadow: 0px 5px 20px 0px #00000026;
            border-radius:30px;
            .box {
                @include vw-convert-pc(padding, 48 48 56);
                .tit {
                    @include vw-convert-pc(padding-bottom, 40);
                    @include vw-font-size-pc(42);
                    font-weight:600;
                    line-height:1.3;
                }
                .tag {
                    @include vw-font-size-pc(22);
                    color:#666;
                }
            }
        }
    }
}

// 아코디언
.accordion-wrap {
    @include vw-convert-pc(margin-top, 180);
    dl {
        // @include vw-convert-pc(margin-top, 160);
        border-top: 1px solid #B4B4B4;
    }

    dl:last-child {
        border-bottom: 1px solid #B4B4B4;
    }

    .accordion {
        background: url(../images/icon_plus.png) calc(100% - 40px) 50% no-repeat;
        background-size: 30px;
        cursor: pointer;
        @include vw-convert-pc(padding, 50 40);
        @include vw-font-size-pc(48);
        font-weight: 700;
        sup {
            @include vw-font-size-pc(30);
        }
        &.active {
            background: url(../images/icon_minus.png) calc(100% - 40px) 50% no-repeat;
            background-size: 30px;
            border-bottom: 1px solid rgba(217, 217, 217, 0.5);
        }
    }

    .panel {
        @include vw-convert-pc(margin-left, 40);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        ul {
            @include vw-convert-pc(padding, 16 0 50);
            li {
                position:relative;
                @include vw-convert-pc(padding-left, 34);
                @include vw-convert-pc(margin-top, 34);
                @include vw-font-size-pc(38);
                line-height: 1.57;
                font-weight: 300;
                &::before {
                    content:'';
                    display:block;
                    position:absolute;
                    left:10px;
                    top:50%;
                    transform:translateY(-50%);
                    width:5px;
                    height:5px;
                    border-radius:50%;
                    background:#000;
                }
            }
            li.ing {
                color: #E30D3F;

                span {
                    background-color: #000;
                    @include vw-convert-pc(padding, 15 20);
                    @include vw-convert-pc(margin-left, 40);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 40px;
                    @include vw-font-size-pc(24);
                    color: #fff;
                    
                }
                &::before {
                    content:'';
                    background:#E30D3F;
                }
            }

            li.webaward {
                background: url(../images/icon_webaward.svg) 0 right no-repeat;
            }

        }
    }
}

// button
.btn-wrap {
    @include vw-convert-pc(margin-top, 80);
    display: flex;
    justify-content: left;
    align-items: center;

    a {
        @include vw-convert-pc(width, 323);
        @include vw-convert-pc(padding, 28 0);
        // height: 4.16vh;
        @include vw-font-size-pc(24);
        border-radius: 8px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a:last-child {
        @include vw-convert-pc(margin-left, 20);
    }

    a.type1 {
        color: #000;
        outline: 1px solid #383838;
    }

    a.type1:hover {
        background-color: #f1f1f1;
    }

    a.type2 {
        color: #fff;
        background-color: #222;
    }

    a.type2:hover {
        background-color: #383838;
    }

    a.type3 {
        color: #fff;
        background-color: $primary;
    }

    a.type3:hover {
        background-color: #D00D3B;
    }
}

/*contact*/
.contact-wrap {
    .inner {
        background: url(../images/map.png) center no-repeat;
        background-size:100%;
        width:100%;
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        @include vw-convert-pc(padding, 400 160 280);
    }
    h2 {
        @include vw-font-size-pc(80);
        font-weight: 700;
    }

    .tel-wrap {
        @include vw-convert-pc(margin-top, 40);
        @include vw-font-size-pc(24);

        li {
            color: #555;
            @include vw-convert-pc(margin-top, 24);

            strong {
                @include vw-convert-pc(margin-right, 16);
                color: #000;
            }
        }

    }
}

.recruit-wrap {
    @include vw-convert-pc(margin, 130 160 250 160);

    .title-wrap {
        .tit {
            @include vw-font-size-pc(90);
            font-weight: 100;
            line-height:1.2;
        }
        .desc {
            @include vw-convert-pc(padding-top, 40);
            @include vw-font-size-pc(24);
            line-height: 1.3;
            font-weight: 300;
        }
    }

    .btn-wrap {
        justify-content: center;
    }

    .accordion-wrap {
        dd.panel {
            .part {
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: baseline;
                @include vw-convert-pc(padding-left, 560);
    
                p {
                    @include vw-convert-pc(width, 270);
                    @include vw-font-size-pc(30);
                    font-weight: 600;
                }
    
                ul {
                    li {
                        @include vw-font-size-pc(24);
                        line-height: 1.3;
                        font-weight: 300;
                    }
                }
            }
    
            .part:last-child {
                @include vw-convert-pc(padding-bottom, 120);
            }
    
        }
    }
}


@media screen and (max-width:1440px) {
    .pjt-con-wrap {
        .pjt-top {
            @include vw-convert-tb(padding-top, 180);
            @include vw-convert-tb(padding-left, 100);
            @include vw-convert-tb(padding-bottom, 200);
            height: auto
        }

        .pjt-title {
            .tit {
                @include vw-font-size-tb(70);
                @include vw-convert-tb(padding-bottom, 20);
            }

            .desc {
                @include vw-font-size-tb(30);
            }
        }

        .tool-list {
            @include vw-convert-tb(margin-top, 50);
        }

        .phone-layout {
            @include vw-convert-tb(padding-top, 80);

            &.type02 {
                @include vw-convert-tb(width, 864);
            }
        }

        &.kb {
            .pjt-top {
                .pjt-title {
                    @include vw-convert-tb(width, 800);
                }

                .pjt-top-img {
                    .pjt-img {
                        @include vw-convert-tb(width, 400);
                    }

                    .circle {
                        &.type03 {
                            @include vw-convert-tb(left, -50);
                        }
                    }
                }
            }
        }

        &.cj {
            .pjt-top {
                @include vw-convert-tb(padding-bottom, 400);

                .pjt-top-img {
                    .pjt-img01 {
                        bottom: auto;
                        @include vw-convert-tb(top, 250);
                    }

                    .pjt-img02 {
                        bottom: auto;
                        top: 0;
                    }
                }
            }
        }
    }

    .about-wrap {
        .title-wrap {
            .tit01 {
                @include vw-font-size-tb(70);
            }

            .tit02 {
                @include vw-font-size-tb(40);
            }

            .desc {
                @include vw-font-size-tb(26);
            }
        }

        .section {
            &.nth01 {
                @include vw-convert-tb(padding, 350 0 200);

                .txt-ani {
                    @include vw-convert-tb(top, 300);
                }
            }
        }
    }
}

//mobile
@media screen and (max-width:767px) {
    .main-indicator-wrap {
        display: none;
    }

    .pjt-con-wrap {
        .pjt-top {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            @include vw-convert-mo(padding, 252 40 0);
        }

        .pjt-top-full {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            @include vw-convert-mo(padding, 252 40 0);

            .pjt-top-img {
                width: 100%;
                position: relative;
                @include vw-convert-mo(padding-top, 80);
                z-index: 2;
            }
        }

        .pjt-title {
            width: 100%;

            &.center {
                text-align: left;
            }

            &.type02 {
                width: 100%;
                @include vw-convert-mo(margin-top, 100);
            }

            .tit {
                @include vw-convert-mo(padding-bottom, 24);
                @include vw-font-size-mo(64);
            }

            .desc {
                @include vw-font-size-mo(32);
                font-weight: 300;
            }
        }

        .phone-layout {
            width: 100%;
            @include vw-convert-mo(padding-top, 80);
            gap: 25px;

            div:nth-child(2) {
                @include vw-convert-mo(margin-top, 80);
            }

            &.type02 {
                width: 100%;
                gap: 25px;
            }
        }

        .icon-list-wrap {
            ul {
                flex-wrap: wrap;
                gap: 24px;

                li {
                    width: 18%;

                    .txt {
                        @include vw-convert-mo(padding-top, 16);
                        @include vw-font-size-mo(24);
                    }
                }
            }
        }

        .tool-list {
            display: flex;
            gap: 4px;
            @include vw-convert-mo(margin-top, 52);

            div {
                @include vw-convert-mo(width, 52);
            }
        }

        &.kb {
            .pjt-top {
                .pjt-title {
                    width: 100%;
                }

                .pjt-top-img {
                    width: 100%;

                    .pjt-img {
                        @include vw-convert-mo(width, 284);
                    }

                    .circle {
                        &.type01 {
                            right: 0;
                            @include vw-convert-mo(bottom, -80);
                            @include vw-convert-mo(width, 500);
                            @include vw-convert-mo(height, 500);
                        }

                        &.type02 {
                            right: 0;
                            @include vw-convert-mo(top, 74);
                            @include vw-convert-mo(width, 200);
                            @include vw-convert-mo(height, 200);
                        }

                        &.type03 {
                            @include vw-convert-mo(left, 32);
                            @include vw-convert-mo(bottom, 100);
                            @include vw-convert-mo(width, 130);
                            @include vw-convert-mo(height, 130);
                        }
                    }
                }
            }

            .pjt-con {
                @include vw-convert-mo(padding, 260 40 80);
                margin-top: -104px;
            }
        }

        &.sc {
            .pjt-con {
                position: relative;
                @include vw-convert-mo(padding, 120 40 100);
                @include vw-convert-mo(margin-top, -40);
            }
        }

        &.woori-open {
            .pjt-con {
                position: relative;
                @include vw-convert-mo(padding, 120 40 100);
                @include vw-convert-mo(margin-top, -40);

                .phone-layout {
                    &.bg {
                        max-width: 100%;
                        @include vw-convert-mo(margin-top, 80);
                    }
                }
            }
        }

        &.woori-my {
            .pjt-top {
                .pjt-title {
                    width: 100%;
                }

                .pjt-top-img {
                    position: relative;
                    right: auto;
                    width: 100%;
                    @include vw-convert-mo(margin-top, 100);

                    .splash-img {
                        @include vw-convert-pc(right, 228);
                        top: 3px;
                        @include vw-convert-pc(width, 550);

                    }

                    .pjt-img {
                        @include vw-convert-pc(width, 550);
                    }
                }
            }

            .pjt-con {
                &.bg01 {
                    @include vw-convert-mo(padding, 160 40 0);
                    @include vw-convert-mo(margin-top, -40);

                    .phone-layout {
                        div:nth-child(2) {
                            margin-top: 0;
                        }
                    }
                }

                &.bg02 {
                    @include vw-convert-mo(padding, 200 40 100);
                    @include vw-convert-mo(margin-top, -100);
                }

                &.bg03 {
                    @include vw-convert-mo(padding, 100 40);
                }
            }
        }

        &.woori-certi {
            .pjt-top-full {
                // height:100vh;
                @include vw-convert-mo(padding-top, 252);
                @include vw-convert-mo(padding-bottom, 748);
            }

            .pjt-con {
                @include vw-convert-mo(padding, 100 40);
                margin-top: 0;
            }
        }

        &.cj {
            .pjt-top {
                padding-bottom: 0;

                .pjt-title {
                    width: 100%;
                }

                .pjt-top-img {
                    width: 100%;
                    @include vw-convert-mo(height, 648);
                    @include vw-convert-mo(margin-top, 80);

                    .pjt-img01 {
                        // position:static;
                        left: 0;
                        bottom: -50px;
                        width: 80%;
                    }

                    .pjt-img02 {
                        // position:static;
                        top: auto;
                        right: 0;
                        width: 70%;
                    }
                }
            }

            .pjt-con {
                @include vw-convert-mo(padding, 180 40 108);
                @include vw-convert-mo(margin-top, -100);

                .icon {
                    @include vw-convert-mo(padding-top, 80);
                    @include vw-convert-mo(margin, 0 40);
                }
            }
        }

    }

    .about-wrap {
        .title-wrap {
            &.white {
                .desc {
                    color: #fff;
                }
            }

            .tit01 {
                @include vw-convert-mo(padding-bottom, 60);
                @include vw-font-size-mo(60);
                font-weight: 700;
            }

            .desc {
                @include vw-font-size-mo(32);

            }
        }

        .section {
            &.nth01 {
                width: 100%;
                @include vw-convert-mo(padding, 320 40 120);

                .txt-ani {
                    @include vw-convert-mo(top, 280);
                }
            }

            &.nth02 {
                .inner {
                    width: 100%;
                    @include vw-convert-mo(padding, 160 40);

                    .txt-ani {
                        @include vw-convert-mo(top, 120);
                    }

                    .service-list-wrap {
                        flex-direction: column;
                        padding: 0;
                        @include vw-convert-mo(margin-top, 160);

                        .bg-area {

                            .circle01,
                            .circle02 {
                                left: 50%;
                                transform: translateX(-50%) !important;
                                width: 100%;
                                height: 60%;

                                img {
                                    height: 100%;
                                }
                            }

                            .circle02 {
                                top: auto;
                                @include vw-convert-mo(bottom, 80);
                            }
                        }

                        .service-list {
                            @include vw-convert-mo(margin, 100 0 180);
                        }

                        .tit01 {
                            @include vw-font-size-mo(40);
                        }

                        .tit02 {
                            @include vw-font-size-mo(40);
                        }

                        .desc {
                            @include vw-font-size-mo(32);
                        }
                    }
                }

            }

            &.nth03 {
                width: 100%;
                @include vw-convert-mo(padding, 160 40 240);

                .txt-ani {
                    @include vw-convert-mo(top, 120);
                }
            }

            &.nth04 {
                width: 100%;
                @include vw-convert-mo(padding, 0 40 200);

                .txt-ani {
                    @include vw-convert-mo(top, -40);
                }
            }

            .txt-ani {
                @include vw-convert-mo(left, 40);
                @include vw-font-size-mo(80);
            }

            .work-list-wrap {
                ul {
                    flex-direction: column;
                    @include vw-convert-mo(margin-top, 112);

                    li+li {
                        @include vw-convert-mo(margin-top, 80);
                    }

                    .img {
                        @include vw-convert-mo(width, 160);
                    }

                    .tit {
                        @include vw-font-size-mo(48);
                        @include vw-convert-mo(padding-top, 60);
                        @include vw-convert-mo(padding-bottom, 16);
                    }

                    .desc {
                        @include vw-font-size-mo(32);
                    }
                }
            }
        }
    }

    .project-wrap {
        @include vw-convert-mo(padding, 120 0 150);
        // padding:0;
        .tab-top {
            position:relative;
            ul {
                margin: 0;
                @include vw-convert-mo(padding, 0 40 15);
                justify-content:flex-start;
                overflow-x:auto;
                li {
                    @include vw-convert-mo(margin-right, 68);
                    @include vw-font-size-mo(60);
                }
            }
            .bg {
                @include vw-convert-mo(width, 130);
                height:100%;
                background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
                position:absolute;
                right:0;
                top:0;
            }
        }
    
        .project-swiper {
            width:70%;
            @include vw-convert-mo(margin, 100 auto 0);
            
            // @include vw-convert-mo(padding, 220 160 200 160);
            .swiper-wrapper {
                align-items:center;
            }
            .box-wrap {
                width:100% !important;
                .img {
                    img {
                        border-radius:30px;
                        transition:all .3s;
                    }
                }
                .box {
                    display:none;
                    @include vw-convert-mo(padding, 48);
                    transition:all .5s;
                    .tit {
                        @include vw-convert-mo(padding-bottom, 20);
                        @include vw-font-size-mo(36);
                        word-break: keep-all;
                    }
                    .tag {
                        @include vw-font-size-mo(24);
                        color:#666;
                        line-height:1.3;
                    }
                }
            }
            .swiper-slide-active {
                .img {
                    img {
                        border-radius:0;
                    }
                }
                .box {
                    display:block;
                }
            }
        }
    }

    .accordion-wrap {
        @include vw-convert-mo(margin, 140 40 0);
        @include vw-convert-mo(margin-top, 140);
        .accordion {
            background: url(../images/icon_plus.png) calc(100% - 20px) 50% no-repeat;
            background-size:24px;
            @include vw-convert-mo(padding, 60 40);
            @include vw-font-size-mo(60);
            line-height:1.2;
            &.active {
                background: url(../images/icon_minus.png) calc(100% - 20px) 50% no-repeat;
            background-size:24px;
            }
            sup {
                @include vw-font-size-mo(50);
            }
        }
    
        .panel {
            @include vw-convert-mo(margin-left, 40);
            ul {
                @include vw-convert-mo(padding, 30 0 60);
                li {
                    @include vw-convert-mo(padding-left, 20);
                    @include vw-convert-mo(margin-top, 32);
                    @include vw-font-size-mo(32);
                    &::before {
                        content:'';
                        left:0;
                        @include vw-convert-mo(width, 6);
                        @include vw-convert-mo(height, 6);
                    }
                }
                li.ing {
                    span {
                        @include vw-convert-mo(padding, 10 16);
                        @include vw-convert-mo(margin-left, 20);
                        @include vw-font-size-mo(20);
                    }
                }
            }
        }
    }

    .btn-wrap {
        flex-direction: column;

        a {
            @include vw-convert-mo(padding, 56 0);
            @include vw-font-size-mo(48);
            width: 100%;
        }

        a:last-child {
            margin-left: 0;
            @include vw-convert-mo(margin-top, 40);
        }
    }

    .contact-wrap {
        .inner {
            background: url(../images/m_map.png) center no-repeat;
            background-size:cover;
            @include vw-convert-mo(padding, 280 40 20);
        }
        h2 {
            @include vw-font-size-mo(80);
            @include vw-convert-mo(margin-bottom, 900);
        }

        .hide-pc {
            @include vw-convert-mo(padding, 120 40 0);
        }

        .tel-wrap {
            li {
                display:flex;
                @include vw-convert-mo(padding-bottom, 24);
                @include vw-font-size-mo(32);
                line-height:1.3;
                font-weight:300;
                strong {
                    @include vw-convert-mo(width, 60);
                }

            }
        }
    }


    .recruit-wrap {
        @include vw-convert-mo(margin, 130 40 20);

        .title-wrap {
            .tit {
                @include vw-font-size-mo(60);
            }
            .desc {
                @include vw-convert-mo(padding-top, 60);
                @include vw-font-size-mo(32);
                word-break:keep-all;
            }
        }

        .accordion-wrap {
            @include vw-convert-mo(margin, 100 0 120);
            dd.panel {
                .part {
                    flex-direction: column;
                }
            }
        }
    }
}